# Compilación y caché
build/
.cmake/
.cache/
*.bin.cache/

# Dependencias de ONNX Runtime
models/onnxruntime*

# Entornos virtuales Python
venv/
.venv/

# Artefactos locales de calibración y transmutación
rostro.mp4
datos_calibracion/
modelos_fp32/

# Ignorar modelos compilados (generados localmente)
*.onnx